
.business-detail-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-detail-header-img {
    position: relative;
    width: 95%;
    height: 360px;
    padding: 16px;
    background-size: cover;
    background-position: center
}

.business-detail-header-text {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.business-detail-action-buttons-container {
    border: red solid 1px;
}

.menu-container {
    border: red solid 1px;
}

.reviews-container {
    border: red solid 1px;
}

.business-info-container {
    border: red solid 1px;
}
