
.business-detail-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-detail-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-detail-header-img {
    position: relative;
    width: 95%;
    height: 360px;
    padding: 16px;
    background-size: cover;
    background-position: center
}

.business-detail-header-text {
    color: white;
    background-color: rgba(0,0,0,0.25);
    padding: 4px;
    width: fit-content;
}

.business-detail-action-buttons-container {
    /* border: red solid 1px; */
    padding: 16px;
}

.menu-container {
    /* border-top: grey solid 1px; */
    padding: 12px;
    width: 85%;
    height: 360px;
    overflow: auto;
}

.reviews-container {
    padding: 12px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .reviews-container {
    border: red solid 1px;
} */

/* .business-info-container {
    border: red solid 1px;
} */

.bd-star-rating-container {
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bd-star {
    margin: 12px 4px 12px 0;
    padding: 4px;
    font-size: 28px;
    color: white;
    border-radius: 6px;
    background-color: #ec5c13;
}

.bd-dollar-sign {
    /* margin: 12px 4px 12px 0; */
    /* padding: 4px; */
    font-size: 24px;
    color: white;
    border-radius: 6px;
}

.schedule-text {
    width: 30%;
}