.business-detail-header-img {
    position: relative; /* Set the container as relative */
    width: 100%;
    height: 360px;
    background-size: cover; /* Adjust background image size */
    background-position: center; /* Center the background image */
}

.business-detail-header-text {
    position: absolute; /* Position the text absolutely within the container */
    top: 50%; /* Vertically center the text */
    left: 50%; /* Horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text perfectly */
    color: white;
    border: 1px blue solid;
}