.your-business-text{
    margin-left: 10%;
}
.manage-bus-description{
    margin-left: 10%;
}

.manage-onebusiness-container{
    border: 1px solid grey;
    border-radius: 5px 5px;
    padding: 10px;
    margin: 0 10% 30px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.manage-nav-container{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-bus-container{
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.manage-bus-title{
    font-weight: bold;
}
.manage-see-menu{
    text-decoration: none;
    font-weight: bold;
    color:rgb(26,121,255);
}
.manage-see-menu:hover{
    color: rgb(0, 0, 159);
}

.manage-bus-img{
    width:75%;
}

.manage-btns{
    background-color: rgb(91, 158, 251);
    border: 1px solid rgb(91, 158, 251);
    box-shadow: 3px 3px 3px grey;
    width: 200px;
    height: 35px;
    margin: 10px;
}
.manage-btns:hover{
    background-color: rgb(26,121,255);
    border: 1px solid rgb(26,121,255);
}
.manage-delete{
    background-color: rgb(175, 17, 17);
    border: 1px solid rgb(175, 17, 17);
    color: white;
    list-style: none;
}
.manage-delete:hover{
    background-color: rgb(231, 29, 29);
    border: 1px solid rgb(231, 29, 29);
}
.manage-btn-text{
    color: white;
    text-decoration: none;
}
