.Delete-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Delete-buttons-container button {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.Delete-buttons-container button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.DeleteReview-btn {
    color: white;
    background-color: red;
}

.Dont-DeleteReview-btn {
    color: white;
    background-color: rgb(26, 121, 255);
}
