.review-container {
    margin-bottom: 20px;
}

.name-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container button {
    margin-left: 10px;
}

.BR-Rating_Date {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-CRUD-btn {
    text-decoration: none;
    color: white;

}

.review-CRUD-del-btn {
    text-decoration: none;
    color: white
}

.Business-review-btns {
    background-color: rgb(26, 121, 255);
    border-radius: 5px;
    border-color: rgb(26, 121, 255);
}

.Business-review-del-btns {
    background-color: rgb(175, 17, 17);
    border-radius: 5px;
    border-color: rgb(175, 17, 17);
}

.Business-review-btns:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Business-review-del-btns:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
