.profile-dropdown {
  position: absolute;
}

.nav-bar-ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  z-index: 2;
  position: relative;
}

.Landinglogo img {
  width: 200px;
  height: 80px;
}

@keyframes moveGradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


.Nav-btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, rgb(82, 134, 207), rgb(26,121,255)
  );
  animation: moveGradient 5s linear infinite;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Nav-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.background-shadow{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
